.featured-projects {
  background-color: var(--color-bg-secondary);
}

.featured-projects .section-intro > div {
  justify-self: start;
}

.featured-projects-grid {
  display: grid;
  gap: var(--space-4);
}

@media screen and (min-width: 800px) {
  .featured-projects-grid {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, auto);
  }

  .project-card--featured {
    grid-row: 1 / span 2;

    height: auto;
  }

  .project-card:not(.project-card--featured) {
    min-height: 0;
    height: clamp(240px, 26vw, 320px);
  }
}

@media screen and (min-width: 900px) {
  .featured-projects .section-intro > div {
    justify-self: end;
  }
}
