.home-services {
  background-color: var(--color-bg);
}

.home-services-list {
  padding-top: var(--space-4);
}

.home-services-list li {
  display: grid;
  gap: var(--space-8);

  margin-top: var(--space-16);
  padding-top: var(--space-4);

  border-top: 1px solid var(--color-border);
}

.home-services-list .text-link {
  color: var(--color-text);
}

.home-services-list .text-link i {
  color: var(--color-primary);
}

@media screen and (min-width: 900px) {
  .home-services-list li {
    grid-template-columns: 50px 1fr 1fr 150px;
  }
}
