.primary-title {
  font-size: clamp(var(--font-size-lg), 5vw, var(--font-size-2xl));
}

.secondary-title {
  color: var(--color-primary);
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-sm);
  letter-spacing: var(--letter-spacing-wide);

  margin-bottom: var(--space-8);
}

.primary-info {
  color: var(--color-text-secondary);
  font-size: var(--font-size-md);
}
