.container {
  width: 100%;
  max-width: var(--container-max);

  padding-inline: var(--container-padding);
  padding-top: calc(var(--header-height) + var(--space-6));
  padding-bottom: var(--space-12);

  margin-inline: auto;
}

.primary-title {
  font-size: clamp(var(--font-size-lg), 5vw, var(--font-size-2xl));
}

.secondary-title {
  color: var(--color-primary);
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-sm);
  letter-spacing: var(--letter-spacing-wide);

  margin-bottom: var(--space-8);
}

.primary-info {
  color: var(--color-text-secondary);
  font-size: var(--font-size-md);
}

.section-intro {
  margin-block: var(--space-16);

  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-8);

  align-items: start;
}

@media screen and (min-width: 900px) {
  .section-intro {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .container {
    padding-block: var(--space-24);
  }
}
